---
layout: full-width 
title: Vishal Katariya
---

<br><br>
<p>Hi, I'm Vishal. I work at Ankur Capital, an early-stage venture capital fund where I look at IP-led deep science innovation. Earlier, I finished a PhD in quantum information theory from Louisiana State University. I'm currently figuring out how I can contribute to the global climate change mitigation effort.</p>
<p>I enjoy science, books, tea, music, cooking, gardening, fermenting things, baking bread and learning new things.</p>
<p>I run a weekly mailing list of good longform journalism from around the internet (and the world). I send ten great things to your inbox every weekend. Have a look here - <a href = "/katskable">Kat's Kable.</a></p>
<p>I sporadically blog, just to put my random thoughts down somewhere. Here's the <a href = "/blog">blog</a>.</p>
<p>I collect excerpts from the books I've been reading. Find them <a href = "/nice-passages-from/">here</a>.</p>
<p>I like reading poems, and I have compiled and catalogued a list of my favourite ones. This hasn't been updated for quite some time, unfortunately. I'll get around to it soon. <a href = "/poems">Here</a>.</p>
<p>Want to get in touch? Email me at vkatariya8 [at] gmail [dot] com.</p>
