---
layout: default
title: Simile Collection
description: Where I catalogue fun similies I find in the things I read.
---

<h2 class="nav-title">My Simile Collection</h2>
    <br>
  <p>Inspired by Allegra Hyde's <a href="https://thesimilemuseum.com">Simile Museum</a>, I'm also making a collection of fun and interesting similes I find in things I read. Last updated 11th May 2022.</p>
    <br>
    <hr>

{% for item in site.data.similes %}                 
  <p>{{ item.simile }}</p>
  <p> - {{ item.source }} </p> 

{% endfor %}


