<header>
	<nav class="group">
		<a class = "active" href = "/index.html">Vishal Katariya</a>
		<a href = "/katskable/index.html">Kat's Kable</a>
		<a href = "/blog/index.html">Blog</a>
		<a href = "/links/index.html">Links</a>
		<a href = "/nice-passages-from/index.html">Excerpts</a>
		<a href = "/similes/index.html">Similes</a>
	</nav>	
</header>
<!--Vishal Katariya's website.-->
