---
layout: default
title: Kat's Kable Archive
description: A weekly compilation of great longform journalism from around the internet
---

<br>

<div class="archive">
  <div class="archive-list" style="line-height:2;">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
  {% for post in site.data.katskable %}
    <div class="archive-list-post" style="line-height:1.5;">
      <a href="{{ post.url }}">
      <span class="archive-list-post-title">
        {{ post.number }}
      </span>
      </a>
      <span class="archive-list-post-date">
        <time>| {{ post.date }}</time>
      </span>
    </div>
  {% endfor %}
  {% for post in site.tags.katskable %}
    <div class="archive-list-post" style="line-height:1.5;">
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}  
        <span class="archive-list-post-title">
          {{ post.title }}
        </span>
      </a>
        <span class="archive-list-post-date">
          <time>| {{ post.date | date_to_string }}</time>
        </span>
    </div>
  {% endfor %}
  {% endif %}
  </div>
</div>

<br>

I used to use Tinyletter before this to send the newsletter out, and everything prior to #68 is there. <a href = "http://tinyletter.com/katskable/archive">Link to Tinyletter Archive.</a>