---
layout: full-width
title: Kat's Kable by Vishal Katariya
description: A weekly compilation of great longform journalism from around the internet
---


    <h2 class="nav-title">Kat's Kable</h2>
    <br>
	<p>A weekly-ish compilation of longform journalism from around the internet, ranging from topics such as literature and sport to technology and politics. Sometimes punctuated by fun and esoteric special editions. I've kept this going for over eight years, and it's been enriching for me. The Kable has been quite sporadic over the past 18 months, but I still try to keep up with a few issues at least per month. 
    <br><br>
   Join 1000+ subscribers here:</p>
    <br>

    {% include mailchimp_form.html %}
 	<br> 
	<p style = "margin-top: 5px">Some recent past editions:</p>
        {% assign count = 0 %}
		    {% for issue in site.data.katskable %}
          {% if count == 10 %}
            {% break %}
          {% endif %}                    
          <p style = "margin-top: 5px">
				    <a href= "{{ issue.url }}">
              
						    {{ issue.number }} &emsp; {{ issue.date }}
              
            </a>
        	</p>
          {% assign count = count | plus:1 %}
		    {% endfor %}
          
<br>
For the entire archive, head <a href = "/katskable/archive.html">here</a>. 

