---
layout: default
title: Reading Journal
description: Ongoing book notes
---

<h2>Reading Journal</h2>

<br>

<hr>

<div>
	{% for month in site.categories.reading-journal %}
		<div>
			<p><a href = "{{month.url | prepend: site.baseurl }}">{{month.title}}</a></p>
		</div>
	{% endfor %}
</div>

<br>

<hr>
