---
layout: default
title: Nice Passages From
description: A collection of my favorite excerpts from the books I read.
---

<h2>Nice Passages From</h2>

<p>Every once in a while, I send out an email to a few people with excerpts from the books I've been reading. Usually the books I read are good books, and so the excerpts are fun and enjoyable. Sign up <a href = "https://goo.gl/forms/RhRKeq9ZAuHmywa72">here</a>.</p> 

<br>

<hr>

<div>
  {% for post in site.categories.nice-passages-from %}
		<div style="margin-top:2em">
		<p style="margin:0.1px">  </time><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a> <time datetime="{{ post.date }}"> {{ post.date | date_to_string  }} </p>
		</div>
  {% endfor %}
</div>

<br>

<hr>
