---
layout: default
title: Blog
category: blog
description: My blog
---

<h2> Blog</h2>

<!--<a href="">Why blog?</a><br>
-->

<h3>Browse by tags:</h3>
{% assign categories_list = site.tags %}
<p>
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a> 
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <a href="/tag/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a>,
    {% endfor %}
  {% endif %}
</p>
{% assign categories_list = nil %}

<h3>Posts</h3>
<div>
  {% for post in site.tags.blog %}
        <!--<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
		<h2>{{ post.title }}</h2>
		<p> {{ post.content | truncatewords: 30 | strip_html }} </p>-->
		<div style="margin-top:2em">
		<p style="margin:0.1px">  </time><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a> <time datetime="{{ post.date }}"> {{ post.date | date_to_string  }} </p>
		<p style="margin:0.1px">filed under: {{ post.tags | join: ', ' }}</p>
		</div>
  {% endfor %}
</div>
