<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
 
<h2>Archive of posts with {{ page.type }} '{{ page.title }}'</h2>
<!--
<ul class="posts">
  {% for post in page.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->
<div>
{% for post in page.posts %}
	<div style="margin-top:2em">
		<p style="margin:0.1px">  </time><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a> <time datetime="{{ post.date }}"> {{ post.date | date_to_string  }} </p>
		<p style="margin:0.1px">filed under: {{ post.tags | join: ', ' }}</p>
		</div>
{% endfor %}
</div>
	{% include print-footer.html %}
	{% include footer.html %}
  </body>
</html>
