<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <br/>
    <article class="group">
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
